{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% include 'navbar.html' %}
<div class="container">
		<div class="chat-box">
			{% if chat %}
			{% for message in chat %}
			<div class="chat-message">
				<span class="chat-message__username">{{ message.author.username }}</span>
				<span class="chat-message__text">{{ message.message }}</span>
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<form class="chat-form" action="" method="post">
			{{ form.hidden_tag() }}
			{{ form.chat(class_="chat-input", placeholder_="Type message here", autofocus_=True) }}
			{{ form.submit(class_="chat-button") }}
		</form>
	</div>
	<script>
		var chatBox = document.querySelector('.chat-box');
		chatBox.scrollTop = chatBox.scrollHeight;
	</script>
{% endblock %}