{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
<div>
    <h2>Sign Up</h2>
		{% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification successfully">
                {{ messages[0] }}.
                </div>
            {% endif %}
        {% endwith %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username }}
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email }}
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}
            {{ form.password2 }}
            {% for error in form.password2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        Have an account? <a href="{{ url_for('login') }}">Login</a><br>

        {{ form.submit() }}
    </form>
	</div>
{% endblock %}